<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="frameworkBeta" connectionString="Data Source=localhost;Initial Catalog=db_framework_beta;Persist Security Info=True;User ID=root;Password=root" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <clear />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="UrlRoutingModule" />    
    </modules>
    <handlers>
      <remove name="ExtensionlessUrl-Integrated-4.0" />
    </handlers>
  </system.webServer>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
        <add namespace="Microsoft.AspNet.Identity" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="frameworkBeta" />
      </providers>
    </sessionState>
    <customErrors mode="RemoteOnly" defaultRedirect="../Pages/Error/paginaErro.aspx">
        <error statusCode="400" redirect="../Pages/Error/erro404.aspx" />
        <error statusCode="404" redirect="../Pages/Error/erro404.aspx" />
        <error statusCode="403" redirect="../Pages/Error/erro404.aspx" />
        <error statusCode="405" redirect="../Pages/Error/erro405.aspx" />
        <error statusCode="406" redirect="../Pages/Error/erro408.aspx" />
        <error statusCode="408" redirect="../Pages/Error/erro408.aspx" />
        <error statusCode="409" redirect="../Pages/Error/erro408.aspx" />
        <error statusCode="410" redirect="../Pages/Error/erro410.aspx" />
        <error statusCode="500" redirect="../Pages/Error/erro500.aspx" />
        <error statusCode="501" redirect="../Pages/Error/erro501.aspx" />
        <error statusCode="505" redirect="../Pages/Error/erro501.aspx" />
    </customErrors>
  </system.web>
  <!--<appSettings>
    <add key="strConexao" value="Database=db_framework_beta;Data Source=localhost;User Id=root;Password=root;pooling=false"/>
  </appSettings>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>